.popup__button-save {
    margin: 0 0 37px 0;
    padding: 0;
    width: 358px;
    min-height: 50px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center; 
    transition: .2s ease-out;
    cursor: pointer;
}

.popup__button-save:hover {
    opacity: .8;
}

@media screen and (max-width: 767px) {
    .popup__button-save {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}