.profile {
    margin: 0 auto 51px;
    padding: 0;
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1279px) {
    .profile {
        max-width: 282px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 36px;
    }
}