.cards__button-delete {
    width: 18px;
    height: 19px;
    background-image: url(../../../images/delete.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    transition: .2s ease-out;
    cursor: pointer;
}

.cards__button-delete:hover {
    opacity: .5;
}