.profile__info {
    margin: 0;
    padding: 0;
    max-width: 282px;
    display: flex;
    column-gap: 30px;
}

@media screen and (max-width: 967px) {
    .profile__info {
        flex-direction: column;
        align-items: center;
        row-gap: 26px;
    }
}